* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  height: 100vh;
  background: linear-gradient(#ff9900, #ff8000);
  position: relative;
}

input {
 width: 500px;
 height: 50px;
 border-radius: 5px;
}

.search-container {
 display:flex;
 align-items: center;
 margin:auto;
 text-align: center;
 flex-direction: column;
 position:absolute;
 top: 45%;
 left: 38%;
 width: 500px;
 background:  #ffd9b3;
 
 
 
}


.search-container input,
.search-container .suggestions {
  
}
.search-container input {
 
}
.search-container .suggestions {
   
}

ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  
}
.suggestions ul {
  border-top: 1px solid #999;
}
ul li {
  list-style-type: none;
  width:500px;
  text-align:left;
  padding-top: 5px;
  padding-left: 10px;
  
}
ul li:hover {
  
}

input {

   
}

.fruity:hover {
  background-color: orange;
}